name: Preview 배포

env:
  VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
  VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}

on:
  push:
    branches:
      - main

jobs:
  Deploy-Preview:
    runs-on: ubuntu-latest
    steps:
      - name: Github 레포지토리 불러오기
        uses: actions/checkout@v5

      - name: pnpm 설치
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Node.js 설치
        uses: actions/setup-node@v6
        with:
          node-version: '24'
          cache: 'pnpm'

      - name: 의존성 라이브러리 설치
        uses: pnpm install

      - name: Vercel CLI 설치
        uses: pnpm install -global vercel@latest

      - name: Vercel 환경 정보 가져오기
        uses: vercel pull --yes --environment=production --token=${{ secrets.VERCEL_TOKEN }}

      - name: 프로젝트 빌드
        uses: vercel build --token=${{ secrets.VERCEL_TOKEN }}

      - name: Vercel에 프로젝트 배포
        uses: vercel deploy --prebuilt --token=${{ secrets.VERCEL_TOKEN }}
